@{
    ViewBag.Title = "About";
}
<div class="panel panel-default">

    <div class="panel-heading">
        <div class="panel-title">About us</div>
    </div>

    <div class="panel-body">

        <div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 user-logo">
                <a href="home.html">
                    <img class="img-responsive center-block" src="/images/about.png" alt="BlogBuddy">
                </a>
            </div>

            <div class="col-xs-12">
                <p class="orange lead text-center">
                    Our system for aggregating blogs is a web application that is
                    undertaking articles and placing them together. </br>They are classified according to
                    categories.</br> The users of our system will be able to create user profile, review and
                    search articles and store their favourites articles.
                </p>
            </div>

            <div class="col-xs-12">
                <h1 class="page-header orange">Our Team</h1>
            </div>
        </div>

        <div>
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center team-member">

                <img src="/images/about/tashe.jpg" class="img-circle img-responsive img-center" alt="">

                <h3 class="orange">
                    Tasho Kjosev <br />
                    <small>Team Leader</small>
                </h3>

                <p>
                    <a href="https://www.facebook.com/kjosev" class="btn btn-social btn-facebook">
                        <i class="fa fa-lg fa-lg fa-facebook"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/tasho-kjosev-8a176259"
                       class="btn btn-social btn-linkedin"><i class="fa fa-lg fa-lg fa-linkedin"></i></a>
                </p>

            </div>

            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center team-member">

                <img src="/images/about/meto.jpg" class="img-circle img-responsive img-center" alt="">

                <h3 class="orange">
                    Meto Trajkovski<br />
                    <small>Full stack developer</small>
                </h3>

                <p>
                    <a href="https://www.facebook.com/MTrajK" class="btn btn-social btn-facebook">
                        <i class="fa fa-lg fa-facebook"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/mtrajk" class="btn btn-social btn-linkedin">
                        <i class="fa fa-lg fa-linkedin"></i>
                    </a>
                </p>

            </div>

            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center team-member">

                <img src="/images/about/jana.jpg" class="img-circle img-responsive img-center" alt="">

                <h3 class="orange">
                    Jana Trajkovska<br />
                    <small>Front end developer</small>
                </h3>

                <p>
                    <a href="https://www.facebook.com/xOxO.Jannna.xOxO" class="btn btn-social btn-facebook">
                        <i class="fa fa-lg fa-facebook"></i>
                    </a>
                </p>

            </div>

            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center team-member">

                <img src="/images/about/mimi.jpg" class="img-circle img-responsive img-center" alt="">

                <h3 class="orange">
                    Mirjana Tosheva<br />
                    <small>Front end developer</small>
                </h3>

                <p>
                    <a href="https://www.facebook.com/mimi.toseva" class="btn btn-social btn-facebook">
                        <i class="fa fa-lg fa-facebook"></i>
                    </a>
                </p>

            </div>

            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center team-member">

                <img src="/images/about/petar.jpg" class="img-circle img-responsive img-center" alt="">

                <h3 class="orange">
                    Petar Kjimov<br />
                    <small>Back end developer</small>
                </h3>

                <p>
                    <a href="https://www.facebook.com/petarkimov" class="btn btn-social btn-facebook">
                        <i class="fa fa-lg fa-facebook"></i>
                    </a>
                </p>

            </div>

            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center team-member">

                <img src="/images/about/goce.jpg" class="img-circle img-responsive img-center" alt="">

                <h3 class="orange">
                    Goce Cvetanov<br />
                    <small>Back end developer</small>
                </h3>

                <p>
                    <a href="https://www.facebook.com/cvetanov.goce" class="btn btn-social btn-facebook">
                        <i class="fa fa-lg fa-facebook"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/goce-cvetanov-227302b6"
                       class="btn btn-social btn-linkedin"><i class="fa fa-lg fa-linkedin"></i></a>
                </p>

            </div>

            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center team-member">

                <img src="/images/about/ivana.jpg" class="img-circle img-responsive img-center" alt="">

                <h3 class="orange">
                    Ivana Trajanovska<br />
                    <small>Back end developer</small>
                </h3>

                <p>
                    <a href="https://www.linkedin.com/in/ivana-trajanovska-ab152511b"
                       class="btn btn-social btn-linkedin"><i class="fa fa-lg fa-linkedin"></i></a>
                </p>

            </div>

            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center team-member">

                <img src="/images/about/nikola.jpg" class="img-circle img-responsive img-center" alt="">

                <h3 class="orange">
                    Nikola Furnadzhiski<br />
                    <small>Risk Manager</small>
                </h3>

                <p>
                    <a href="https://www.facebook.com/nikola.furnadjiski" class="btn btn-social btn-facebook">
                        <i class="fa fa-lg fa-facebook"></i>
                    </a>
                </p>

            </div>

            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center team-member">

                <img src="/images/about/bojan.jpg" class="img-circle img-responsive img-center" alt="">

                <h3 class="orange">
                    Bojan Trajkovski<br />
                    <small>Quality assurance</small>
                </h3>

                <p>
                    <a href="https://www.facebook.com/btrajkovski" class="btn btn-social btn-facebook">
                        <i class="fa fa-lg fa-facebook"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/bojantrajkovski" class="btn btn-social btn-linkedin">
                        <i class="fa fa-lg fa-linkedin"></i>
                    </a>
                </p>

            </div>

        </div>
    </div>
</div>