@{
    ViewBag.Title = "Contact";
}

<div class="container">

    <div class="row">

        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 user-logo">
            <a href="home.html">
                <img class="img-responsive center-block" src="../images/user_logo.png" alt="BlogBuddy">
            </a>
        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">


            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="panel-title text-center">Contact us!</div>
                </div>

                <div class="panel-body">

                    <!-- First Name -->

                    <div class="col-xs-12 form-margin">
                        <div class="input-group">

                            <input name="first_name" placeholder="First Name" class="form-control" type="text">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user user-glyp"></span>
                            </span>

                        </div>
                    </div>

                    <!-- Last Name -->


                    <div class="col-xs-12 form-margin">
                        <div class="input-group">

                            <input name="last_name" placeholder="Last Name" class="form-control" type="text">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user user-glyp"></span>
                            </span>

                        </div>
                    </div>


                    <!-- E-mail address -->
                    <div class="col-xs-12 form-margin">
                        <div class="input-group">

                            <input name="email" placeholder="E-Mail Address" class="form-control" type="text">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope user-glyp"></span>
                            </span>

                        </div>
                    </div>


                    <!-- Subject -->

                    <div class="col-xs-12 form-margin">
                        <div class="input-group">

                            <input name="subject" placeholder="Subject" class="form-control" type="text">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-tag user-glyp"></span>
                            </span>

                        </div>
                    </div>


                    <!-- Text area -->

                    <div class="col-xs-12 form-margin ">
                        <div class="input-group ">

                            <textarea class="form-control blogBuddy-textArea" placeholder="Message"></textarea>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-pencil user-glyp"></span>
                            </span>

                        </div>
                    </div>

                    <!-- Button send -->
                    <div class="col-xs-12 form-btn-margin">
                        <button type="submit" class="btn btn-blogBuddy btn-block form-control">
                            Send <span class="glyphicon glyphicon-send"></span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>